src/1
src/2
src/.cproject
src/.settings
.settings
contrib/syscoin-testnet-box/1/cakenet
contrib/syscoin-testnet-box/2/cakenet
contrib/syscoin-testnet-box/3/cakenet
contrib/syscoin-testnet-box/4/cakenet
src/*.exe
src/syscoin
src/syscoind
src/test_syscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.syscoin
*.qm
Makefile
syscoin-qt
SysCoin-Qt.app
Makefile.test
unitedscrpyptcoin-qt_test
qrc_*.cpp
*.pro.user
.DS_Store
build
!src/leveldb-*/Makefile
*.log
*.dat
*.pid
aliases/
offers/
certificates/
chainstate/
database/
offers/
contrib/syscoin-testnet-box/1/testnet/*
contrib/syscoin-testnet-box/2/testnet/*
contrib/syscoin-testnet-box/3/testnet/*
contrib/syscoin-testnet-box/4/testnet/*
SysCoin-Qt.dmg
