<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>syscoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5.1.1, Copyright © 2009-2015 The Bitcoin and Syscoin developers</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1.1</string>
	<key>CFBundleVersion</key>
	<string>1.5.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>SysCoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>org.syscoin.SysCoin-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>org.syscoin.SysCoinPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>syscoin</string>
            </array>
          </dict>
        </array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
